/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout base */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: #bee1e6;
  height: 50px;
  padding: 5px 0 5px 40%;
  width: 100%;
}
/* Footer */
footer {
  background-color: #e1f7fa;
  color: #333;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.content {
  display: flex;
  flex: 1; /* hace que empuje el footer hacia abajo si hay poco contenido */
}

/* Navegación lateral */
.menu {
  width: 200px;
  height: 100%;
  padding: 15px 0;
  background-color: #65c4d2;
}

/* Área de contenido */
.contenido {
  width: 100%;
  padding: 5px;
  margin: 10px 0px 0px 30px;
}

/* Tipografía */
h1 {
  font-family: cursive;
  display: inline-block;
}

h2 {
  margin-bottom: 5px;
  color: #4a4e69;
}

p {
  margin: 15px;
}

/* Imágenes */
img {
  width: 50px;
}

.LogoPrincipal {
  height: 30px;
  width: 30px;
  margin: 2px;
  padding-top: 5px;
}

.icon {
  height: 18px;
  width: 20px;
}

/* Enlaces */
li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

li a:hover {
  color: #026473;
  text-decoration: underline;
}

ol li h3 {
  margin-left: 40%;
  margin-top: 10px;
}
ol li img {
  margin-left: 40%;
}
ol li p {
  margin-left: 20%;
}
/* Lista del menú */
.menu ul {
  margin: 2px;
  text-align: center;
  list-style: none;
  padding-inline-start: 5px;
}

li {
  margin: 10px 0;
  display: block;
}

/* Enlaces de contacto */
.linkContacto {
  color: #027688;
  text-decoration: none;
}

.linkContacto:hover {
  color: #026473;
  text-decoration: underline;
}

/* Estilos por ID */
#idHistoria-subtitulo {
  color: #4a4e69;
  margin-left: 10px;
}

#idAdoptar-subtitulo {
  color: #4a4e69;
  margin: 5px 1px 5px 5px;
  font-family: cursive;
}
