@use "variables";
@use "sass:color"; // necesario para usar color.scale o color.adjust
.btn-personalizado {
  background-color: variables.$color-botones;
  color: white;
  border: none;

  &:hover {
    background-color: color.adjust(
      variables.$color-principal,
      $lightness: -20%
    );
    scale: 1.2;
  }
}

@keyframes latido {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.btn-enviar-llamativo {
  @extend .btn-personalizado;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  animation: latido 1.5s infinite;
  background-color: color.adjust(variables.$color-botones, $lightness: -10%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    background-color: color.adjust(
      variables.$color-principal,
      $lightness: -25%
    );
    transform: scale(1.1);
  }
}

.btn-circular-animado {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-MG;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
  opacity: 0;
  animation: aparecerExpandir 1.2s ease-out forwards;
  gap: 0.5rem;

  .icono-like {
    font-size: 1.2rem;
    opacity: 0;
    animation: aparecerIcono 1s ease-out 0.8s forwards;
  }

  .texto-animado {
    opacity: 0;
    white-space: nowrap;
    font-size: 1rem;
    animation: aparecerTexto 1s ease-out 1.2s forwards;
  }
}

@keyframes aparecerExpandir {
  0% {
    opacity: 0;
    width: 60px;
    border-radius: 50%;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 160px;
    border-radius: 10px;
    opacity: 1;
  }
}

@keyframes aparecerIcono {
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes aparecerTexto {
  to {
    opacity: 1;
  }
}
.boton-animado {
  animation: rebotar 2s ease-in-out infinite alternate;
  transform-origin: bottom;
}

@keyframes rebotar {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1) translateY(-10px);
    filter: brightness(1.8);
    color: black;
  }
}
