@use "variables";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, variables.$color-principal, #ffffff);
  color: variables.$color-texto;
  text-align: center;
  height: variables.$altura-footer;

  p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  footer {
    height: 100%;
    background-color: white;

    p {
      font-size: 0.9rem;
    }
  }
}
