@use "variables";

h2 {
  margin-bottom: 5px;
  color: variables.$color-subtitulos;
}

p {
  margin: 15px;
}

#idHistoria-subtitulo {
  color: variables.$color-subtitulos;
  margin-top: 50px;
}

#idAdoptar-subtitulo {
  color: variables.$color-subtitulos;
  font-family: variables.$fuente-cursiva;
  margin-top: 10px;
}
.texto-adopcion {
  font-size: 1.1rem;
  color: variables.$color-subtitulos;
  max-width: 700px;
  margin: 0 auto;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}
