// Colores
$color-principal: #65c4d2 !default;
$color-secundario: #bee1e6 !default;
$color-footer: #e1f7fa !default;
$color-texto: #333 !default;
$color-hover: #026473 !default;
$color-contacto: #027688 !default;
$color-subtitulos: #4a4e69 !default;
$color-MG: #4a4e69 !default;
$color-botones: #65c4d2 !default;

// Fuentes
$fuente-cursiva: cursive !default;

// Tamaños
$altura-header: 8vh !default;
$altura-footer: 8vh !default;
